
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    <tr>
        <th>Name: </th>
        <th>@Html.TextBox("Name")</th>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Create new room" />
        </td>
    </tr>
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
