
@{
    ViewBag.Title = "Dynamic";
}

<h2>Dynamic</h2>


<table>
    <tr>
        <th>ID: </th>
        <th>@Model.Id </th>
    </tr>
    <tr>
        <th>Name: </th>
        <th>@Model.Name </th>
    </tr>
</table>