@model TeamSignificance.Models.Room

@{
    ViewBag.Title = "Static";
}

<h2>Static</h2>

<table>
    <tr>
        <th>ID: </th>
        <th>@Model.Id </th>
    </tr>
    <tr>
        <th>Name: </th>
        <th>@Model.Name </th>
    </tr>
</table>