<div class="centered flex header">
    <div class="flex_item">@Html.ActionLink("Registation", "Registration", "Start")</div>
    <div class="flex_item">@Html.ActionLink("Login", "Login", "Start")</div>
</div>

