<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="./Content/MainStyle.css" rel="stylesheet" runat="server" type="text/css" />
</head>
<body>
    @{
        string CurrentName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
        switch (CurrentName)
        {
            case "Start":
                Html.RenderPartial("_HeaderStart");
                break;
            default:
                Html.RenderPartial("_Header");
                break;
        }
    }
    <div class="container body-content">
        @RenderBody()
        @{Html.RenderPartial("_Footer");}
    </div>
@*    @Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
