*{
margin:0;
padding:0;
}

.header {
    margin-top:25px;
    margin-bottom:25px;
}

.footer {
    margin-top: 25px;
}

.separator {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.field {
    font-size: 20px;
    width:70%;
}

.field-container {
    margin: 20px;
    background: black;
}

.flex {
    display: flex;
}

.buttons {
    font-size: 20px;
    padding-top: 20px;
}

.field-validation-error {
    color: #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

.validation-errors {
    padding-top: 5%;
}


.like_number {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
}

.like_number:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
}

.flex_item {
    padding-left: 35px;
    padding-right: 35px;
}
